* {
  font-size: 12pt;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
  --color0: #ffffff;
  --color1: #e0e1dd;
  --color2: #778da9;
  --color3: #415a77;
  --color4: #1b263b;
  --color5: #0d1b2a;
  --color6: #a8a9a580;
  color: var(--color5);
}

body {
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

h1 { 
  font-size: 28pt; 
  text-transform: uppercase;
  font-weight: 500;
}

h2 { 
  font-size: 18pt;
}
.bio h2 {
  text-decoration: none;
}

h3 {
  font-size: 18pt;
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
}

a {
  color: darkred;
}

table { 
  width: 100%;
  border-spacing: 0;
  padding: 0.5em;
}
table tr th {
  text-align: left;
  font-weight: bold;
}
table tr td {
  vertical-align: top;
}
.competences table {
  border: none;
}
.competences table tr td {
}
.competences legend {
  text-align: center;
  font-style: italic;
}
td.date {
  text-align: right;
}

.formation td {
  padding-left: 1em;
}

main {
  margin: 1em;
  display: flex;
  flex-flow: row wrap; 
  gap: 1em;
}

.autres img, .competences img {
  max-height: 2em;
  z-index: -10;
}
.langues img {
  max-height: 1em;
  padding-right: 0.5em;
  vertical-align: top;
}

/* NOTATION */
.note {
	letter-spacing: 10px;
	border: solid 0px black;
	height: 8px;
	margin-right: 40px;
	width: 100%;
	border-radius: 60px;
}
.one {
	background: linear-gradient(to right, darkred 20%, lightgrey 20%);
}
.two {
	background: linear-gradient(to right, darkred 40%, lightgrey 40%);
}
.tree {
	background: linear-gradient(to right, darkred 60%, lightgrey 60%);
}
.four {
	background: linear-gradient(to right, darkred 80%, lightgrey 80%);
}
.five{
	background: linear-gradient(to right, darkred 100%, lightgrey 0);
}

.header-photo {
  border-radius: 20em;
  max-width: 11em;
  display: block;
  margin: 1em auto 1.5em auto;
  border: solid 1px black;

}

header p {
  text-align: justify;
  text-justify: auto;
  margin: 0;
  margin-bottom: 0.5em;

}

header h1, header h2 {
  display: inline;
  padding-right: 0.1em;
}

header h3 {
  margin-bottom: 0.5em;
}

aside .contact .title {
  border-bottom: none;
  padding-bottom: 0;
  margin: 0;
}

.coordonnees {
  border: solid 1px black;
  padding: 1em;
}

.title {
  margin: 0.8em 0;
  text-transform: uppercase;
  border-bottom: solid 2px lightgrey;
  padding-bottom: 0.2em;
}

.hr-title {
  display: none;
}

.formation .date {
  vertical-align: top;
}

.date {
  font-weight: bold;
}

.formation .spacing {
  height: 1em;
}

.formation table td:last-of-type {
}

@media only screen and (min-width: 600px) {
  main {
    margin: 2em auto;
    max-width: 794px;
    gap: 1em 2em;
  }
  .header-photo {
    float: left;
    margin: 0em 3em 2em 0;
    max-width: 12em;
    border-radius: 0;
  }
  header{
  }
  section { 
    flex: 2 1 400px;
  }
  aside {
    flex: 1 1 150px;
  }
  .coordonnees {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    border-spacing: 0.3em;
  }
  .competences p {
    margin: 0;
  }
  .competences .title {
    margin-top: 1em;
    margin-bottom: 0.2em;
  }
  .title.autres {
    display: none;
    padding-top: 3em;
  }
  .autres {
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
  }
}
