:root {
  --color1: #2E3244;
  --color2: #C5C6C6;
  --color3: #e0fbfc;
  --color4: #F1895C;
  --color5: #516079;
  --white: #ffffff;
  --shadow: #000000;
  --grey: #f1f1f1;
}

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: var(--white);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0rem;
  align-items: flex-end;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

h1 {
  margin: 0.5rem 0;
  font-size: 2rem;
  color: var(--white);
  display: inline;
}

h2 {
  margin: 0;
  font-size: 1.8rem;
  color: var(--color1);
  font-weight: 900;
}

header {
  padding-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  color: var(--color2);
  font-weight: 600;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: var(--color1);
  color: var(--white);
  text-shadow: 2px 2px var(--shadow);
  margin: auto;
  padding: 0 1rem;
  align-items: center;
}

.navbar .title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar ul {
  display: flex;
  flex-flow: row wrap;
}

.navbar .title img {
  filter: invert(1) drop-shadow(2px 2px var(--shadow));
  max-height: 30px;
}

.navbar a {
  color: var(--white);
  border-bottom: 4px solid var(--color5);
  transition: border-bottom 0.2s;
  padding: 1rem;
  padding-bottom: 0.8rem;

}

.navbar a:hover {
  /* color: var(--color2);  */
  border-bottom: 4px solid var(--color2);
}

.navbar a.active {
  /* color: var(--color4); */
  border-bottom: 4px solid var(--color4);
}

.mes-sites hr,
.sur-le-web hr,
.instantanee-social hr,
.email hr,
.projects hr {
  border: none;
  height: 1px;
  background-color: var(--color2);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 20px 0;
}

.mes-sites ul,
.sur-le-web ul {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  padding: 2rem 0;
  gap: 1.8rem;
}

.mes-sites ul li,
.sur-le-web ul li {
  padding: 1.0rem;
  width: 6rem;
  border-radius: 0.2rem;
  border: 1px solid var(--color2);
  font-size: 1.5rem;
  transition: box-shadow 0.5s, border-color 0.5s;
}

.mes-sites ul li a,
.sur-le-web ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 0.5rem;
}

.mes-sites li span,
.sur-le-web li span {
  font-weight: 600;
}

.mes-sites li:hover,
.sur-le-web li:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
  border-color: var(--color1);
}

.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.thumbnails {
  max-width: 160px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.project a {
  display: flex;
  gap: 1rem;
  transition: background 0.5s;
  padding: 0.8rem;
  align-items: center;
  border: 1px solid var(--color2);
  border-radius: 0.2rem;
  transition: box-shadow 0.5s, border-color 0.5s, transform 0.5s;
}

.project a:hover {
  /* background: var(--grey); */
  /* transform: scale(1.01); */
  border-color: var(--color1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

table.projects {
  border-collapse: collapse;
}

table .top-left {
  border-left: 1px solid var(--color1);
  border-radius: 10px 0 0 0; 
  bakcground: red;
}

table .top-right {
  border-radius: 0 10px 0 0; 
}

table .bot-left {
  border-radius: 0 0 10px 0;
}

table .bot-right {
  border-radius: 0 0 0 10px;
}

.projects thead {
  background: var(--color5);
  color: var(--white);
  padding: 1rem;

}

@media(min-width: 992px) {
  .navbar {
    padding: 0 20rem;
  }
}

@media(max-width: 992px) {
  .navbar {
    flex-flow: column wrap;
  }
  .navbar ul {
    justify-content: flex-end;
  }
  .project a {
    flex-direction: column;
  }
 
}
